@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

@media screen and (max-width: 768px) {
    .container{
        width: 100vw;
    }
    .gameContainer{
        grid-template-columns: none !important;
        gap: 0 !important;
    }
    .letsGameDiv{
        display: grid;
        grid-template-columns: repeat(3, 1fr) !important;
    }
    .divStyle{
        font-size: 50px !important;
    }
    .playerVsComputerBtn{
        padding: 20px 5px !important;
        font-size: 15px !important;
    }
    .playerVsPlayerBtn{
        padding: 20px 5px !important;
        font-size: 15px !important;
    }
    .avatarDracula{
        width: 30vw;
    }
    .avatarFrankenstein{
        width: 33vw;
    }
    .avatarReaper{
        width: 33vw;
    }
    .avatarScarecrow{
        width: 33vw;
    }
    #playGameHeader{
        font-size: 40px;
    }
    .playGameHeader{
        font-size: 30px !important;
    }
    .versus {
        font-size: 30px !important;
        text-align: center;
    }
}

html {
    padding: 0;
    margin: 0;
    background-color: #8AAAE5;
}

body {
    font-family: 'Muli', sans-serif;
    padding: 0;
    margin: 0;
    --background-color-divs: #fff;
    --font-size-divs: 5vw;
    --icon-height: 15vh;
    --icon-width: 130px;
    --icon-margin-top: 15px;
    --header-font-size: 6vw;
    --title-font-size: 4vw;
    --button-hover: rgb(177, 177, 177);
    --button-active: rgb(143, 143, 143);
    --button-mode-font-size: 3.5vw;
    --background-color-container: #FFF;
}

/* header */

.mainHeader {
    display: flex;
    justify-content: center;
}

.header {
    width: 80vw;
    height: 80px;
    background-color: #8AAAE5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resetBtn {
    width: 100px;
    padding: 10px;
    border: 2px solid black;
    background-color: aliceblue;
    box-shadow: 2px 2px 2px black;
    border-radius: 10px;
    text-align: center;
}

/* main */

.main {
    display: flex;
    justify-content: center;
}

.container {
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
    background-color: var(--background-color-container);
}

button {
    border: none;
}


/* wanna play a game? */

.headerWannaPlay {
    font-size: var(--header-font-size);
    text-align: center;
}

.wannaPlayButton {
    padding: 30px 50px;
    font-size: var(--button-mode-font-size);
    margin-top: 10vh;
    border-radius: 10px;
}

.wannaPlayButton:hover {
    background-color: var(--button-hover)
}

.wannaPlayButton:active {
    background-color: var(--button-active)
}

/* choose mode */

.headerChooseMode {
    font-size: var(--header-font-size);
    text-align: center;
}

.playerVsPlayerBtn {
    padding: 30px 50px;
    font-size: var(--button-mode-font-size);
    margin-top: 10vh;
    border-radius: 10px;
    width: 40vw;
    height: 15vh;
}

.playerVsPlayerBtn:hover {
    background-color: var(--button-hover)
}

.playerVsPlayerBtn:active {
    background-color: var(--button-active)
}

.playerVsComputerBtn {
    padding: 30px 50px;
    font-size: var(--button-mode-font-size);
    margin-top: 5vh;
    border-radius: 10px;
    width: 40vw;
    height: 15vh;
}

.playerVsComputerBtn:hover {
    background-color: var(--button-hover)
}

.playerVsComputerBtn:active {
    background-color: var(--button-active)
}

/* Choose player */

.playGameHeader {
    width: 80vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: var(--title-font-size);
}

.startScreen {
    margin-top: 5vh;
    width: 80vw;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 135px);
    grid-template-rows: 150px 150px;
    justify-content: center;
    align-items: center;
}


.dracula {
    background: url(./images/dracula.png);  
    background-repeat: no-repeat;
    padding: 0;
    height: var(--icon-height);
    max-width: var(--icon-width);
    margin-top: var(--icon-margin-top);
    position: relative;
}

.dracula:hover {
    transition: 1s;
    margin-top: -10px;
}

.dracula:active {
    transition: 0.3s;
    transform: scale(0.7);
}

@keyframes chosen {
    from {left: 0px;}
    to {left: 200px;}
}

@keyframes chosen2{
    from {right: 0;}
    to {right: 200px;}
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}


.reaper {
    background: url(./images/reaper.png);
    background-repeat: no-repeat;
    padding: 0;
    height: var(--icon-height);
    max-width: var(--icon-width);
    margin-top: var(--icon-margin-top);
    position: relative;
}

.reaper:hover {
    transition: 1s;
    margin-top: -10px;
}

.reaper:active {
    transition: 0.3s;
    transform: scale(0.7);
}

.scarecrow {
    background: url(./images/scarecrow.png);
    background-repeat: no-repeat;
    padding: 0;
    height: var(--icon-height);
    max-width: var(--icon-width);
    margin-top: var(--icon-margin-top);
    position: relative;
}

.scarecrow:hover {
    transition: 1s;
    margin-top: -10px;
}

.scarecrow:active {
    transition: 0.3s;
    transform: scale(0.7);
}

.frankenstein {
    background: url(./images/frankenstein.png);
    background-repeat: no-repeat;
    padding: 0;
    height: var(--icon-height);
    max-width: var(--icon-width);
    margin-top: var(--icon-margin-top);
    position: relative;
}

.frankenstein:hover {
    transition: 1s;
    margin-top: -10px;
}

.frankenstein:active {
    transition: 0.3s;
    transform: scale(0.7);
}


/* let's game */



.letsGameDiv {
    display: grid;
    grid-template-columns: repeat(3, 130px);
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    animation: linear infinite;
}

@keyframes left {
    0% {
      left: 0;
    }
    50% { 
      left: calc(100% - 100px); 
     }
    100% {
      left: 0;     
    }
}

@keyframes right {
    0% {
        right: 0;
    }
    50% { 
        right: calc(100% - 100px); 
     }
    100% {
        right: 0;     
    }
}



.avatarDracula {
    background: url(./images/dracula.png);  
    background-repeat: no-repeat;
    padding: 0;
    height: var(--icon-height);
    max-width: var(--icon-width);
    margin-top: var(--icon-margin-top);
    position: relative;
    flex-grow: 1;
}

.avatarScarecrow {
    background: url(./images/scarecrow.png);  
    background-repeat: no-repeat;
    padding: 0;
    height: var(--icon-height);
    max-width: var(--icon-width);
    margin-top: var(--icon-margin-top);
    position: relative;
    flex-grow: 1;
}

.avatarReaper {
    background: url(./images/reaper.png);  
    background-repeat: no-repeat;
    padding: 0;
    height: var(--icon-height);
    max-width: var(--icon-width);
    margin-top: var(--icon-margin-top);
    position: relative;
    flex-grow: 1;
}

.avatarFrankenstein {
    background: url(./images/frankenstein.png);  
    background-repeat: no-repeat;
    padding: 0;
    height: var(--icon-height);
    max-width: var(--icon-width);
    margin-top: var(--icon-margin-top);
    position: relative;
    flex-grow: 1;
}

.versus {
    font-size: var(--title-font-size);
}

/* grid */



.gameContainer {
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
}

.playerOneDiv {
    display: flex;
    justify-content: center;
    
}

.playerTwoDiv {
    display: flex;
    justify-content: center;
}

.divStyle {
    background-color: var(--background-color-divs);
    font-size: var(--font-size-divs);
    display: flex;
    justify-content: center;
    align-items: center;
}

#unique1,
#unique4,
#unique7{
    border-right: 2px solid black;
}

#unique3,
#unique6,
#unique9{
    border-left: 2px solid black;
}

#unique1,
#unique2,
#unique3{
    border-bottom: 2px solid black;
}

#unique7,
#unique8,
#unique9{
    border-top: 2px solid black;
}

/* footer */